body {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;;
    color: black;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 40px;
    margin-bottom: 200px;
    padding: 0 20px;
}

.header {
    padding: 15px 30px;
    margin: 0 0 70px;
    border-bottom: 1px solid black;
    border-radius: 0 0 10px 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-links a {
    font-weight: bold;
}

.header-links a:hover {
    color: #215d93;
}

.header-btn {
    border: none;
    border-radius: 5px;
    background: black;
    padding: 10px 15px;
    font-family: inherit;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.header-btn:hover {
    background: white;
    padding: 8px 13px;
    color: black;
    border: 2px solid black;
}

.navigation {
    padding: 30px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    border-bottom: 1px dashed black;
    font-weight: bold;
}

.nav-list a:hover {
    color: #215d93;
}

.nav-list li {
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.content-heading {
    padding: 0 0 10px;
    margin: 0 0 30px;
    border-bottom: 1px dashed black;
}

.content-wrap {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.content-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 30%;
    border: 1px solid black;
    border-radius: 8px;
    padding-bottom: 15px;
}

.content-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.content-card p {
    margin: 20px 0;
    padding: 0 15px;
}

.content-card a {
    display: inline-block;
    margin-top: auto;
    padding-left: 15px;
    font-weight: bold;
}

.content-card a:hover {
    color: #215d93;
}

.footer {
    padding: 15px 30px;
    border-top: 1px solid black;
    border-radius: 10px 10px 0 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-container p {
    font-size: 14px;
}